<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HaloFILKOM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        </i> HaloFILKOM Chatbot</i>
      </div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(static/halofilkom.png)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">HaloFILKOM</div>
            <div class="msg-info-time"></div>
          </div>

          <div class="msg-text">
            Halo, Selamat datang di HaloFILKOM😄
          </div>
          <div class="msg-text">
            Silahkan menanyakan hal hal terkait akademik, kemahasiswaan, dan sebagainya....
          </div>
        </div>
      </div>

      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(static/halofilkom.png)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">HaloFILKOM</div>
            <div class="msg-info-time"></div>
          </div>

          <div class="msg-text">
            Saat ini HaloFILKOM Bot hanya mampu menjawab pertanyaan yang berkaitan dengan topik dibawah ini : 
          </div>
          <div class="msg-text">
            1. Tata cara wisuda <br>
            2. Surat rekomendasi MBKM <br>
            3. Bantuan Keuangan / Keringanan UKT <br>
            4. Potongan UKT bagi mahasiswa akhir <br>
            5. Tata cara pembayaran ukt <br>
            6. Peminjaman barang / inventaris FILKOM <br>
            7. Transkrip Nilai Praktikum untuk semester antara <br>
            8. Pengurusan Surat Akademik, Kemahasiswaan, dsb <br>
          </div>
        </div>
      </div>

      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(static/halofilkom.png)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">HaloFILKOM</div>
            <div class="msg-info-time"></div>
          </div>

          <div class="msg-text">
            Anda dapat menyebutkan "Halo FILKOM" pada microphone anda untuk mengaktifkan fitur voice command.
          </div>
        </div>
      </div>
    </main>
    <form class="msger-inputarea">
      <a id="voicebutton">🎙️</a>
      <input type="text" class="msger-input" id="textInput" placeholder="Masukkan pertanyaan anda...">
      <button type="submit" class="msger-send-btn">Kirim</button>
    </form>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <!-- <script src="https://code.responsivevoice.org/responsivevoice.js?key=RjDYg9d1"></script> -->
  <script src="{{ url_for('static', filename='voicerecognition.js') }}"></script>
  <script src="{{ url_for('static', filename='botmain.js') }}"></script>
</body>

</html>